package icons

import "fmt"

templ InlineLineGraphGoingUp(width, height int) {
	<svg class={ fmt.Sprintf("w-%d h-%d", width, height) } fill="none" stroke="currentColor" viewBox="0 0 24 24">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
	</svg>
}
