package views

import "github.com/sweater-ventures/slurpee/components"

templ WelcomeTemplate() {
	@components.SimplePage("Welcome", "/welcome") {
		<h1 class="text-4xl font-bold mb-6">Welcome to Slurpee!</h1>
	}
}
